<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/brand.css"/>
    <title>Brand Sentiment Analysis</title>
</head>
<body>
<h1>Brand Sentiment Analysis</h1>

<!-- Sentiment Plot -->
<div class="plot-container">
    <h2>Sentiment Plot</h2>
    <img src="data:image/png;base64,{{ sentiment_plot }}" alt="Sentiment Plot">
</div>

<!-- Positive Sentiment Plot -->
<div class="plot-container">
    <h2>Positive Sentiment Plot</h2>
    <img src="data:image/png;base64,{{ positive_plot }}" alt="Positive Sentiment Plot">
</div>

<!-- Negative Sentiment Plot -->
<div class="plot-container">
    <h2>Negative Sentiment Plot</h2>
    <img src="data:image/png;base64,{{ negative_plot }}" alt="Negative Sentiment Plot">
</div>
{#<h1>Sentiment Analysis Plot</h1>#}
{#    <div>#}
{#        <img src="data:image/png;base64,{{ sentiment_plot }}" alt="Sentiment Analysis Plot">#}
{#    </div>#}
<button id="left-arrow-btn" class="fa fa-arrow-left"></button>

<script src="../static/js/main.js"></script>
</body>
</html>
