<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/brand.css"/>
    <title>Brand Sentiment Analysis</title>
</head>
<body>
<h1>Brand Sentiment Analysis</h1>

<h2>Positive Sentiment Plot</h2>
<img src="{{ positive_plot }}" alt="Positive Sentiment Plot">

<h2>Negative Sentiment Plot</h2>
<img src="{{ negative_plot }}" alt="Negative Sentiment Plot">

<button id="left-arrow-btn" class="fa fa-arrow-left"></button>

<script src="../static/js/main.js"></script>
</body>
</html>
