<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
    <title>Brand Sentiment Analysis</title>
    <style>
        body {
            background-image: url("{{url_for('static', filename='img/bg.png')}}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed; /* Keeps the background image fixed */
        }

    </style>
</head>
<body>
<div class="container_brand">
    <br>
    <h7>{{ subreddit_title_case }} Sentiment Analysis</h7>
    <br>
</div>

<div id="layoutSidenav_content">
    <main>

        <div class="container-fluid px-4">
            <div class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            Sentiment Bar Chart
                        </div>
                        <div class="card-body">
                            <canvas id="myAreaChart" width="100%" height="40"></canvas>
                            <img src="data:image/png;base64,{{ sentiment_plot }}" alt="Plot">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar me-1"></i>
                            Sentiment Pie Chart
                        </div>
                        <div class="card-body">
                            <canvas id="myBarChart" width="100%" height="40"></canvas>
                            <img src="data:image/png;base64,{{ sentiment_plot_pie }}" alt="Plot">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            Positive Word Frequency
                        </div>
                        <div class="card-body">
                            <canvas id="myAreaChart" width="100%" height="40"></canvas>
                            <img src="data:image/png;base64,{{ positive_plot }}" alt="Plot">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar me-1"></i>
                            Negative Word Frequency
                        </div>
                        <div class="card-body">
                            <canvas id="myBarChart" width="100%" height="40"></canvas>
                            <img src="data:image/png;base64,{{ negative_plot }}" alt="Plot">
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Positive Headlines
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <tbody>
                        {% for Headline in brand_positive_headlines %}
                            <tr>
                                <td>{{ Headline }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Neutral Headlines
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <tbody>
                        {% for headline in brand_neutral_headlines %}
                            <tr>
                                <td>{{ headline }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Negative Headlines
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <tbody>
                        {% for headline in brand_negative_headlines %}
                            <tr>
                                <td>{{ headline }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </main>
</div>

<a href="/brand">
    <button id="left-arrow-btn" class="fa fa-arrow-left"></button>
</a>

<script src="../static/js/main.js"></script>
</body>
</html>
